* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4251f5;

  font-family: sans-serif;
}
.score {
  color: #e8e8e8;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score h2,
p {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.person-scores,
.computer-scores {
  background: #4410e0;
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.intro h1 {
  font-size: 50px;
  color: #e8e8e8;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  transition: opacity 0.5s ease;
}

a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: #2196f3;
  background-color: #4410e0;
  text-transform: uppercase;
  initial-letter: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}

a:hover {
  color: #255784;
  background: #4410e0;
  box-shadow: 0 0 10px #4410e0, 0 0 40px #4410e0, 0 0 80px #4410e0;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  color: #e8e8e8;
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.match button {
  background: #4410e0;
  padding: 5px 10px;
  color: #e8e8e8;
  border: 1px solid #4410e0;
  text-transform: uppercase;
  initial-letter: 4px;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

/* To rotate one of the player hands */
.player-hand {
  transform: rotateY(180deg);
}
/* These div contains the match and the hands for at first it's hidden */
div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: #fff;
  text-align: center;
  margin: 30% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 2s;
}

/* To make te the modal fade nicely */

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
